<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>About Page</title>
	</head>
	<body>
		<h1>THIS IS ABOUT PAGE!</h1>
		<h3>To jest strona z kalkulatorem słów w twoim teksćie.	Stworzona przez GG. Jeśli podoba ci się licznik kliknij "Home" i baw się</h3>

		<h2>
				<ul> <a href="{% url 'home' %}">Home</a> </ul>
				<ul> <a href="{% url 'gallery' %}">Gallery</a> </ul>
				<ul> <a href="{% url 'kontakt'%}">Kontakt</a> </ul>
				<ul> <a href="{% url 'warto' %}">Warto</a> </ul>
				<ul> <a href="{% url 'about' %}">About</a> </ul>
		</h2>

	</body>
</html>
